Q1. 

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

Difference between SQL and NoSQL

SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). NoSQL is a class of DBMs that are non-relational and generally do not use SQL.

Q2.

Data definition language (DDL) statements let you to perform these tasks: Create, alter, and drop schema objects. Grant and revoke privileges and roles. Analyze information on a table, index, or cluster.

Create : The CREATE INDEX command is used to create indexes in tables (allows duplicate values). Indexes are used to retrieve data from the database very fast.

Ex. CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);


Drop : The DROP DATABASE command is used is to delete an existing SQL database.

Ex. DROP TABLE table_name;
table_name: Name of the table to be deleted.


Alter : The ALTER TABLE statement is used to add, delete, or modify columns in an existing table. The ALTER TABLE statement is also used to add and drop various constraints on an existing table.

Ex. ALTER TABLE table_name
ADD column_name datatype;

Truncate : TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain. To remove the table definition in addition 
to its data, use the DROP TABLE statement.

Ex. TRUNCATE TABLE  table_name;

Q3.

A data manipulation language is a computer programming language used for adding, deleting, and modifying data in a database. A DML is often a sublanguage of a broader database language such as SQL, with the DML comprising some of the operators in the language.

The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:
The INSERT statement introduces new rows into an existing table.
Ex. INSERT INTO TABLE_NAME (column1, column2, column3,...columnN)  
VALUES (value1, value2, value3,...valueN);

The DELETE statement removes a row or combination of rows from a table.
Ex. DELETE FROM table_name WHERE condition;

The UPDATE statement enables users to update a row or group of rows in a table.
Ex. UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

Q4. 

Data query language is part of the base grouping of SQL sub-languages. These sub-languages are mainly categorized into four categories: a data query language, a data definition language, a data control language, and a data manipulation language.

The SELECT statement is used to select data from a database.

The data returned is stored in a result table, called the result-set.

Ex. SELECT * FROM student where age>15 and age<20;
(OR)
SELECT * FROM student where age between 15 and 20;

Q5.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure â€“ 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Refer the figure â€“ 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [ ]:
#Q6.

import mysql.connector 
mydb = mysql.connector.connect{
    host = "host",
    user = "user",
    password = "password"
}
print(mydb)
mycursor = mydb.mycursor()
mycursor.execute("Show Database")
for x in mycursor:
    print(x)

Cursor() : A cursor in SQL Server is a database object that allows us to retrieve each row at a time and manipulate its data. A cursor is nothing more than a pointer to a row. It's always used in conjunction with a SELECT statement. It is usually a collection of SQL logic that loops through a predetermined number of rows one by one. A simple illustration of the cursor is when we have an extensive database of worker's records and want to calculate each worker's salary after deducting taxes and leaves.

Execute() : The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.

Q7.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.